

<footer class=" rounded-lg shadow m-4 mt-auto">
    <div class="w-full max-w-screen-xl align-top mx-auto  p-4 md:py-8">
        <div class="sm:flex   sm:justify-between">
            <div>
            <a href="#" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="https://ipvtuc.gob.ar/web/wp-content/uploads/2024/01/logo-IPV-GOB-principal.png" class="h-15" alt="ipv Logo" />
                
            </a>
        <p class="mt-5">Idelfonso de las Muñecas 455 – T4000IKI <br>                                     
            San Miguel de Tucumán – Tucumán – Argentina <br>
            Telefono +54 381 4212142</p>
        <p class="mt-5">Horario de Atención 8:00h. a 13:00h.

</p>
        </div>
        <div class="align-top">
            <a href="#" class=" items-center align-top  ">
                <img src="https://ipvtuc.gob.ar/web/wp-content/uploads/2023/12/LOGO-MINISTERIO.png" class="hidden md:block h-15" alt="ipv Logo" />
                
            </a>
            <div class="text-4xl md:justify-end flex">
        <p class="mt-5 pr-7 text-lg md:text-3xl">Call Center</p>
        <p class="mt-5  font-bold text-lg md:text-5xl">
            381 4 975755 <br>
            381 4 978533</p>
        </div>
        </div>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="#" class="hover:underline">Departamento de Cómputos.</a>. Todos los Derechos Reservados.

        </span>
    </div>
</footer>

