<nav class="bg-[#FFE3A7] dark:bg-[#FFE3A7]">
    
    <div class="max-w-screen-xl px-4 py-3 mx-auto flex justify-end">  <ul class="flex mt-0 space-x-3">
        <% if(currentUser) {%>
            <li>
                <a href="/conf/logout" class="block py-5 px-5 text-white bg-red-600 hover:text-black hover:bg-green-500 rounded md:border-0  md:px-2 md:py-0">Exit</a>
            </li>
            <% } %>
        <li>
            <a href="https://www.facebook.com/ipvtucuman">
        <img class="w-5 h-5 md:w-6 md:h-6"  src="https://ipvtuc.gob.ar/web/wp-content/uploads/2024/01/face-1.png" alt="faecbook ipv" aria-label="icono de facebook">
    </a>
        </li>
        <li>
            <a href="https://www.instagram.com/ipvtucuman/">
        <img class="h-5 md:h-6"  src="https://ipvtuc.gob.ar/web/wp-content/uploads/2024/01/insta-1.png" alt="instagram ipv" aria-label="icono de instagram">
    </a>
        </li>
        <li>
            <a href="https://twitter.com/ipvdutuc?lang=es">
        <img class="w-5 h-5 md:w-6 md:h-6" src="https://ipvtuc.gob.ar/web/wp-content/uploads/2024/01/X-1.png" alt="twitter ipv" aria-label="icono de twitter">
    </a>
        </li>
    </ul>
    </div>
</nav>
<nav class="bg-white border-gray-200">
    <div class="max-w-screen-xl flex flex-wrap items-end justify-between mx-auto p-4">
    <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img class="ml-4 md:ml-0 h-10 md:w-21 md:h-16" src="https://ipvtuc.gob.ar/web/wp-content/uploads/2024/01/logo-IPV.png" class="h-8" alt="ipv Logo" />
        <img class="hidden w-21 h-16 md:block" src="https://ipvtuc.gob.ar/web/wp-content/uploads/2024/01/logo-GOB.png" class="h-8" alt="ipv Logo" />
    
    </a>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul class="text-2xl font-bold flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white">
        <li>
            <a href="/" class="block py-2 px-3 rounded md:bg-transparent md:text-[#FFB81A] md:p-0 dark:text-white md:dark:text-[#FFB81A]" aria-current="page">Inicio</a>
        </li>
        <li>
            <div class="group relative cursor-pointer">

                <div class="flex items-center">
                    <a class="menu-hover " href="#" onClick="">
                        Institucional
                    </a>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="h-3 w-3">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                        </svg>
                    </span>
                </div>
        
                <div
                    class="invisible absolute z-50 rounded-sm flex w-full flex-col bg-white py-2  text-gray-800 shadow-xl group-hover:visible">
        
                    <a href="/institucional/mision" class="ml-1 block border-b border-gray-100  font-semibold  hover:text-[#FFB81A] ">
                        Mision
                    </a>
        
                    <a href="/institucional/autoridades" class="ml-1 block border-b border-gray-100 font-semibold  hover:text-[#FFB81A] ">
                        Autoridades
                    </a>
        
                    <a href="/institucional/organigrama" class="ml-1 block border-b border-gray-100  font-semibold  hover:text-[#FFB81A]">
                        Organigrama
                    </a>
        
                </div>
            </div>
        </li>
        <li>
            <a href="/noticias" class="block py-2 px-3 text-gray-900 hover:text-[#FFB81A] rounded md:border-0  md:p-0 ">Noticias</a>
        </li>
        <li>
            <a href="#" class="block py-2 px-3 text-gray-900 hover:text-[#FFB81A] rounded md:border-0  md:p-0 ">Obras</a>
        </li>
        <li>
            <div class="group relative cursor-pointer">

                <div class="flex items-center">
                    <a class="menu-hover " href="#" onClick="">
                        Tramites
                    </a>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="h-3 w-3">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                        </svg>
                    </span>
                </div>
        
                <div
                    class="invisible absolute z-50 rounded-sm flex w-48 flex-col bg-white py-2 text-gray-800 shadow-xl group-hover:visible">
        
                    <a href="/tramites/requisitos" class="ml-1 block border-b border-gray-100  font-semibold  hover:text-[#FFB81A] ">
                        Requisitos para empadronarse
                    </a>
        
                    <a href="/tramites/transferencia" class="ml-1 block border-b border-gray-100 font-semibold  hover:text-[#FFB81A] ">
                        Transferencia de vivienda
                    </a>
        
                    <a href="https://guiadetramites.tucuman.gob.ar/buscar/?bgral=ipv" class="ml-1 block border-b border-gray-100  font-semibold  hover:text-[#FFB81A]">
                        Guia de tramites
                    </a>
        
                </div>
            </div>
        </li>
        <li>
            <a href="/contacto" class="block py-2 px-3 text-gray-900 hover:text-[#FFB81A] rounded md:border-0  md:p-0 ">Contacto</a>
        </li>
        
        </ul>
    </div>
    </div>
</nav>


