<% layout('layouts/boilerplate') %>

<div class=" md:flex pt-24">
    <div class="md:ml-80 px-5 md:px-0">
        <h2 class="mb-8 font-bold md:text-7xl text-5xl">Tramites</h2>
        <h2 class="mb-8 font-bold md:text-7xl text-5xl">Transferencia de una vivienda</h2>
        <h2 class="mt-32 mb-8 font-bold text-5xl">Requisitos:</h2>
    
<ul class="space-y-4 text-left ">
  <li class="flex items-center space-x-3 rtl:space-x-reverse">
       <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
       </svg>
      <span>La vivienda a transferir debe cumplir con el plazo de tres años de ocupación obligatoria por parte del adjudicatario.</span>
  </li>
  <li class="flex items-center space-x-3 rtl:space-x-reverse">
      <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
       </svg>
      <span>La presentación de la transferencia deberá ser dentro de los 60 días corridos a partir de efectuada la compra de la vivienda.</span>
  </li>
</ul>

        <h2 class="mt-14 mb-8 font-bold text-5xl">Documentación a presentar:</h2>
  <p class=" font-medium mb-8 text-xl whitespace-pre-wrap">Nota dirigida a la Sra. Interventora del Instituto de la Vivienda –
Arq. NORA BELLONI, solicitando autorización de TRANSFERENCIA Y
CANCELACIÓN O CAMBIO DE TITULAR. Para cancelación presentar fotocopia de
BOLETA DE PAGO ESPECIAL.
    
    Acta de Tenencia Precaria, Boleto de Compra Venta o Escritura
    otorgada por el IPV y DU a los adjudicatarios originales.
    
    Boleto de Compra Venta y/o Escritura entre las partes (con
    Certificación de Firmas, sellado en la D.G.R de la Provincia).
    FOTOCOPIA AUTENTICADA POR ESCRIBANIA.
    
    Arancel por Transferencia de Vivienda ($6.450) – por Transferencia
    de Lotes ($3.150) CUENTA N° 360000200980735 (IPV y DU) – BANCO MACRO.
    ORIGINAL.
    
    TRANSFERENCIA A CBU: 2850600130002009807355 ALIAS: CENTRO.COMETA.SIGNO-
    
    Acta de Matrimonio (ACTUALIZADA) – Fotocopia DNI (adquirente/s)
    (AUTENTICADOS POR ESCRIBANIA O POLICIA) – Acta de Nacimiento de los
    hijos (ACTUALIZADAS).
    
    Certificado de Convivencia de la Policía.
    Certificado de Trabajo (ORIGINAL), Último Recibo de Sueldo
    (AUTENTICADO)- Últimos tres pagos MONOTRIBUTO.
    
    Para el caso de trabajadores independientes, certificación de ingresos
    ante C.P.N, avalada por el Colegio de Graduados en Ciencias Económicas.
    
    Libre deuda de Expensas.
    Informe del REGISTRO INMOBILIARIO de No poseer Vivienda.
    La Documentación antes mencionada debe presentarse en ORIGINALES
    FOTOCOPIAS.
    
    LA PRESENTACION DE LA TRANSFERENCIA DEBERA SER DENTRO DE LOS 30 DIAS (CORRIDOS) A PARTIR DE EFECTUADA LA COMPRA DE LA VIVIENDA.</p>
</div>
</div>