<% layout('layouts/boilerplate') %>

<%- include('../partials/institucional.ejs') %>

    <div class="md:px-[20.5rem] pt-24 mb-14">
        <h2 class="hidden md:block mb-8 font-bold text-7xl">Institucional</h2>
        <h2 class="md:mt-32 mb-8 font-bold text-5xl md:text-7x1">Autoridades</h2>
        <div class="md:flex justify-between">
        <div>
        <div class="flex mb-5">
            <img src="https://res.cloudinary.com/dncvxpgj1/image/upload/v1714050217/IPV/nzce7ilwvxwc5u1mcmu0.png" class=" mr-2" alt="barra titulo ipv">
            <div>
            <h3 class="text-4xl font-medium mb-1" >Nora Elvira Belloni</h3>
            <h3 class="text-3xl font-bold mb-1 " >Interventora</h3>
        </div>
            </div>
            <div class="ml-4">
  <p class=" font-medium text-xl ">Profesión</p>
  <p class=" font-medium mb-5">Arquitecta - Universidad Nacional de Tucumán</p>
  
  <p class=" font-medium text-xl ">Cargo</p>
  <p class=" font-medium mb-24">Interventora del Instituto Provincial de Vivienda y Desarrollo Urbano de la Provincia de Tucumán</p>
</div>
</div>
<div class="flex md:block place-content-around">
<img class="h-56 md:ml-12 mb-14 md:mb-0 items-center" src="https://ipvtuc.gob.ar/web/wp-content/uploads/2024/02/user.jpg" alt="interventora ipv">
</div>
</div>
<div class="md:flex justify-between">
  <div>
        <div class="flex mb-5">
            <img src="https://res.cloudinary.com/dncvxpgj1/image/upload/v1714050217/IPV/nzce7ilwvxwc5u1mcmu0.png" class=" mr-2" alt="barra titulo ipv">
            <div>
            <h3 class="text-4xl font-medium mb-1" >Emilse Giandominco</h3>
            <h3 class="text-3xl font-bold mb-1 " >Sub Interventora</h3>
        </div>
            </div>
            <div class="ml-4">
  <p class=" font-medium text-xl ">Profesión</p>
  <p class=" font-medium mb-5">Abogada - Universidad Nacional de Tucumán</p>
  
  <p class=" font-medium text-xl ">Cargo</p>
  <p class=" font-medium mb-5">Sub Interventora del Instituto Provincial de Vivienda y Desarrollo Urbano de la Provincia de Tucumán</p>
</div>
</div>
<div class="flex md:block place-content-around">
<img class="h-56 md:ml-12 mb-14 md:mb-0 items-center" src="https://ipvtuc.gob.ar/web/wp-content/uploads/2024/02/user.jpg" alt="sub interventora ipv">
</div>

</div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
<link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">

<div class="swiffy-slider mb-28">
  <ul class="slider-container">
      <li><img src="https://res.cloudinary.com/dncvxpgj1/image/upload/v1715180644/IPV/qmxv1kkj7t2iceisbflt.png" style="max-width: 100%;height: auto;" alt="slider institucional ipv"></li>
      <li><img src="https://res.cloudinary.com/dncvxpgj1/image/upload/v1715180645/IPV/bdbg7nl5vggntdwn1pnt.png" style="max-width: 100%;height: auto;" alt="slider institucional ipv"></li>
  </ul>

  <button type="button" class="slider-nav"></button>
  <button type="button" class="slider-nav slider-nav-next"></button>

  <div class="slider-indicators">
      <button class="active"></button>
      <button></button>
      <button></button>
  </div>
</div>