<% layout('layouts/boilerplate') %>

<%- include('../partials/institucional.ejs') %>

    <div class="ml-80 pt-24">
        <h2 class=" mb-8 font-bold text-7xl">Institucional</h2>
        <h2 class="mt-32 mb-8 font-bold text-7xl">Autoridades</h2>
        <div class="flex mb-5">
            <img src="https://res.cloudinary.com/dncvxpgj1/image/upload/v1714050217/IPV/nzce7ilwvxwc5u1mcmu0.png" class=" mr-2" alt="">
            <div>
            <h3 class="text-4xl font-medium mb-1" >Nora Elvira Belloni</h3>
            <h3 class="text-3xl font-bold mb-1 " >Interventora</h3>
        </div>
            </div>
            <div class="ml-4">
  <p class=" font-medium text-xl ">Profesión</p>
  <p class=" font-medium mb-5">Arquitecta - Universidad Nacional de Tucumán</p>
  
  <p class=" font-medium text-xl ">Cargo</p>
  <p class=" font-medium mb-24">Interventora del Instituto Provincial de Vivienda y Desarrollo Urbano de la Provincia de Tucumán</p>
</div>
        <div class="flex mb-5">
            <img src="https://res.cloudinary.com/dncvxpgj1/image/upload/v1714050217/IPV/nzce7ilwvxwc5u1mcmu0.png" class=" mr-2" alt="">
            <div>
            <h3 class="text-4xl font-medium mb-1" >Emilse Giandominco</h3>
            <h3 class="text-3xl font-bold mb-1 " >Sub Interventora</h3>
        </div>
            </div>
            <div class="ml-4">
  <p class=" font-medium text-xl ">Profesión</p>
  <p class=" font-medium mb-5">Abogada - Universidad Nacional de Tucumán</p>
  
  <p class=" font-medium text-xl ">Cargo</p>
  <p class=" font-medium mb-5">Sub Interventora del Instituto Provincial de Vivienda y Desarrollo Urbano de la Provincia de Tucumán</p>
</div>
  <h2 class="mt-32 mb-8 font-bold text-7xl">Galería</h2>
  <div class="flex mb-14 font-bold text-xl">
    <a class="mr-20 hover:underline active:underline underline-offset-[17px] cursor-pointer" id="botonFotos">Fotografías</a>
    <a class="hover:underline active:underline underline-offset-[17px] cursor-pointer" id="botonVideos">Videos</a>
  </div>
  </div>

