<% layout('layouts/boilerplate') %>

<%- include('../partials/institucional.ejs') %>
<div class="md:pt-24">
    <div class="md:ml-80 ">
        <h2 class="md:mt-32 mb-8 font-bold text-5xl md:text-7x1">Organigrama</h2>
    </div>
    <img class="mx-auto md:mb-3 mb-14" src="https://ipvtuc.gob.ar/web/wp-content/uploads/2024/02/organigrama.jpg" alt="organigrama ipv instituto provincial de la vivienda tucuman">
</div>

