<% layout('layouts/boilerplate') %>

<%- include('../partials/institucional.ejs') %>
<div class="  pt-24">
    <div class="ml-80 ">
        <h2 class="mt-12 mb-16 font-bold text-7xl">Organigrama</h2>
    </div>
    <img class="mx-auto mb-3" src="https://ipvtuc.gob.ar/web/wp-content/uploads/2024/02/organigrama.jpg" alt="">
</div>

