<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>IPVDU Tucuman</title>
    <meta name="description" content="Pagina de noticias y tramites del instituto provincial de vivienda y desarrollo urbano de tucuman (ipvdu)">
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <main class="h-screen font-body "> 
        <%- include('../partials/flash.ejs') %>
        <%- body %>
        <%- include('../partials/footer.ejs') %>
    </main>
    <script src="/javascripts/validateForms.js" ></script>
</body>
</html>