<% layout('layouts/boilerplate') %>

<%- include('../partials/institucional.ejs') %>




<div class=" md:flex pt-24 mb-14">
    <div class="md:ml-80 px-5 md:px-0 ">
        <h2 class="hidden md:block mb-8 font-bold text-7xl">Institucional</h2>
        <h2 class="md:mt-32 mb-8 font-bold text-5xl md:text-7x1">Misión</h2>
  <p class=" font-medium text-xl whitespace-pre-wrap">El Instituto Provincial de Vivienda y Desarrollo Urbano esta facultado para elaborar la politica, 
programación y ejecución de viviendas, ordenamiento y desarrollo de los centros urbanos, 
conforme a las atribuciones otorgadas por la Ley Nº 3.619.
Instrumentar y armonizar los recursos disponibles y potenciales, así económicas como tecnológicas 
a fin de que:
Las familias, especialmente las de menores recursos, radicadas en el territorio de la provincia, se 
alojen dignamente.
Las familias encuentren en la vivienda, ya sea urbana o rural, un medio eficaz para el cumplimiento y 
ejercicio de sus funciones.
La vivienda por su emplazamiento y equipamiento contribuya al bienestar de la comunidad.
Se logre a través del planeamiento físico. el mejor y mas racional uso de la tierra.
Se propenda a la formación, estabilidad y permanencia social del grupo familiar, integrándolo a la 
comunidad mediante la promoción y educación relacionada con la vivienda.
Se procure la mejor amortización del sector vivienda con el resto de los sectores económicos y 
sociales para que aquel que actúe como factor de desarrollo integral de la provincia.
    </p>
  </div>
  <div class=" md:ml-32 font-bold px-5 md:px-0 mb-14 md:mb-0">
    <p class="text-3xl mb-5">Total de viviendas</p>
    <p class="text-7xl mb-12">650</p>
    <p class="text-3xl mb-5">Entregadas</p>
    <p class="text-7xl mb-12">34,160</p>
    <p class="text-3xl mb-5">Total de viviendas</p>
    <p class="text-7xl mb-12">2001</p>
    <p class="text-3xl mb-5">Entregadas</p>
    <p class="text-7xl">40</p>
  </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
<link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">

<div class="swiffy-slider mb-28">
  <ul class="slider-container">
      <li><img src="https://res.cloudinary.com/dncvxpgj1/image/upload/v1715180644/IPV/qmxv1kkj7t2iceisbflt.png" style="max-width: 100%;height: auto;" alt="slider institucional ipv"></li>
      <li><img src="https://res.cloudinary.com/dncvxpgj1/image/upload/v1715180645/IPV/bdbg7nl5vggntdwn1pnt.png" style="max-width: 100%;height: auto;" alt="slider institucional ipv"></li>
  </ul>

  <button type="button" class="slider-nav"></button>
  <button type="button" class="slider-nav slider-nav-next"></button>

  <div class="slider-indicators">
      <button class="active"></button>
      <button></button>
      <button></button>
  </div>
</div>